dialog.modal[open] {
    margin-top: 30vh;
    border: 1px solid black;
}

/*Confirmation Modal*/
dialog.modal.confirmation[open] {
    display: grid;
    padding: 32px;

    grid-template-areas: 
        "action action"
        "question question"
        "yes no";

    gap: 16px 16px;
}

dialog.modal.confirmation h1 {
    grid-area: action;
}

dialog.modal.confirmation p {
    grid-area: question;
}

dialog.modal.confirmation button:nth-child(3) {
    grid-area: yes;
}

dialog.modal.confirmation button:nth-child(4) {
    grid-area: no;
}

